.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(bottom , rgb(237, 0, 0) 70% , rgb(0, 0, 0) 73%);
background: -o-linear-gradient(bottom , rgb(237, 0, 0) 70% , rgb(0, 0, 0) 73%);
background: -ms-linear-gradient(bottom , rgb(237, 0, 0) 70% , rgb(0, 0, 0) 73%);
background: -moz-linear-gradient(bottom , rgb(237, 0, 0) 70% , rgb(0, 0, 0) 73%);
background: -webkit-linear-gradient(bottom , rgb(237, 0, 0) 70% , rgb(0, 0, 0) 73%);






}